# Application Port
PORT=8000

# MongoDB URI (Use a safer way to access sensitive keys)
MONGODB_URI=mongodb://localhost:27017/your_local_db_name

# Secret key for signing JWT tokens or sessions
SECRET_KEY=thescret  
