<!DOCTYPE html>
<html lang="en">
    
<head>
    <!-- Title of the Document -->
    <title>Document</title>
</head>

<body>
    <!-- Registration Form -->
    <form action="/register" method="post">
        <!-- Input Field for Username -->
        <input type="text" 
            placeholder="Username" name="username">
        
        <!-- Input Field for Password -->
        <input type="password" 
            placeholder="Password" name="password">
        
        <!-- Submit Button for the Form -->
        <button type="submit">Register</button>
    </form>
</body>
    
</html>
